//antialiased,subpixel-antialiased,none
$font-smoothing: antialiased;

//auto,optimizeSpeed,optimizeLegibility,geometricPrecision
$text-rendering: auto;

$base-font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
$base-font-size: 14px;
$base-font-color: #333;
$base-background-color: #fff;

$color-primary: #5e5e5e;
$color-secondary: #808080;
$color-red: #ed3833;
$color-yellow: #fef851;
$color-blue: #2046f5;
//$color-accent


$site-size: 1000px;
$breakpoint-tablet: 1279px;
$breakpoint-mobile: 759px;
