
.article-title1,
.article-title2,
.article-title3 {
    text-align: left;

    padding: 10px 0;

    font-size: 20px;
    font-style: italic;
}

.article-title1 {
    color: $color-title1;
}
.article-title2 {
    color: $color-title2;
}
.article-title3 {
    color: $color-title3;
}

.article-image {
    width: 280px;
}

.article-description {
    text-align: left;

    color: #fff;
}
