.article-title {
    text-align: left;

    padding: 10px 0;

    font-size: 20px;
    font-style: italic;

    //modifiers
    &.article-title-red {
    color: $color-red;
    }
    &.article-title-yellow {
        color: $color-yellow;
    }
    &.article-title-blue {
        color: $color-blue;
    }
}

.article-link {
  display: block;
}

.article-image {
    width: 280px;
}

.article-description {
    text-align: left;

    color: $base-background-color;
}
