.features {
    text-align: center;

    border: 10px solid $base-background-color;
    background-color: $color-secondary;

    margin: 0 auto;
    padding: 20px;
}

.features-heading {
    font-size: 30px;
}

.features-list-item {
    list-style: none;

    display: inline-table;

    width: 300px;
    padding: 20px 5px 5px;
}
