.features-article {
  width: 296px;
  float: left;
  padding: 10px;
}

.article-title1, .article-title2, .article-title3 {
  text-align: left;
  font-size: 20px;
  font-style: italic;
}

.article-title1 {color: #ed3833;}
.article-title2{color: #fef851;}
.article-title3{color: #2046f5;}

.article-description {
  text-align: left;
  color: #fff;
  font-style: italic;
}
