.features {
    border: 10px solid $base-background-color;
    background-color: $color-secondary;

    margin: 0 auto;
    padding: 20px;
}

.features-heading {
  text-align: center;

    font-size: 30px;
}

.features-list {
  display: flex;

  justify-content: space-evenly;
}

.features-list-item {
    list-style: none;

    width: 300px;
    padding: 20px 5px 5px;
}
