.features
{
    overflow: hidden;

    width: 1000px;
    height: auto;
    margin: 0 auto;
    padding: 20px;

    text-align: center;

    border: 10px solid #fff;
    background-color: $color-secondary;
}

.features-heading
{
    font-size: 30px;
}

.features-list
{
    display: inline-table;

    width: 300px;
    padding: 20px 5px 5px 5px;

    list-style: none;
}
