  .l-index {
  background-color: $color-primary;
}


.l-index-hero {
  text-align: center;

  background-image: url(../images/bg.jpeg);
  background-size: cover;

  width: 100%;
  height: 100vh;
}

.l-index-features {
  width: 100%;
  padding: 100px 0px;
}
