<!DOCTYPE html>
<html lang="ja" class="no-js">
<head>
  <meta charset="UTF-8">
  <title>Test Site</title>
  <% include view/_head %>
</head>
<body>
  <main class="l-index">
    <section class="l-index-hero">
      <div class="hero">
        <h1 class="hero-heading">My Test Site</h1>
      </div>
    </section>
    <section class="l-index-features">
      <div class="features l-container">
        <h2 class="features-heading">Features</h2>
        <ul class="features-list">
          <li class="features-list-item">
            <article class="article">
              <a href="#" class="article-link">
                <img class="article-image" src="assets/images/bg.jpeg" alt="Mountain">
                <div class="article-content">
                  <h3 class="article-title article-title-red">Test Title 1</h3>
                  <p class="article-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.
                  </p>
                </div>
              </a>
            </article>
          </li>
          <li class="features-list-item">
            <article class="article">
              <a href="#" class="article-link">
                <img class="article-image" src="assets/images/bg.jpeg" alt="Mountain">
                <div class="article-content">
                  <h3 class="article-title article-title-yellow">Test Title 2</h3>
                  <p class="article-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.
                  </p>
                </div>
              </a>
            </article>
          </li>
          <li class="features-list-item">
            <article class="article">
              <a href="#" class="article-link">
                <img class="article-image" src="assets/images/bg.jpeg" alt="Mountain">
                <div class="article-content">
                  <h3 class="article-title article-title-blue">Test Title 3</h3>
                  <p class="article-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.
                  </p>
                </div>
              </a>
            </article>
          </li>
        </ul>
      </div>
    </section>
  </main>
<script src="assets/js/app.js" async></script>
</body>
</html>
