<!DOCTYPE html>
<html lang="ja" class="no-js">
<head>
  <meta charset="UTF-8">
  <title>PAGE TITLE</title>
  <% include view/_head %>
</head>
<body>
  <main class="l-index">
    <section class="l-index-hero">
      <div class="hero">
        <h1 class="hero-heading">My Test Site</h1>
      </div>
    </section>
<<<<<<< HEAD
    <section class="l-features">
      <h3 class="features-title">Features</h3>
      <a href="http://testfeature.com/" target="_blank">
        <article class="features-article">
          <img src="assets/images/bg.jpeg" width="280px" alt="Mountain">
          <div class="article-content">
            <h4 class="article-title1">Test Title 1</h4>
            <p class="article-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.
            </p>
          </div>
        </article></a>
        <a href="http://testfeature.com/" target="_blank">
        <article class="features-article">
          <img src="assets/images/bg.jpeg" width="280px" alt="Mountain">
          <div class="article-content">
            <h4 class="article-title2">Test Title 2</h4>
            <p class="article-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.
            </p>
          </div>
        </article></a>
        <a href="http://testfeature.com/" target="_blank">
        <article class="features-article">
          <img src="assets/images/bg.jpeg" width="280px" alt="Mountain">
          <div class="article-content">
            <h4 class="article-title3">Test Title 3</h4>
            <p class="article-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.
            </p>
          </div>
        </article></a>
=======
    <section class="l-index-features">
      <ul class="features">
        <h2 class="features-heading">Features</h2>
        <li class="features-list">
          <article class="features-article">
            <a href="#" class="article-link">
              <img class="article-image" src="assets/images/bg.jpeg" alt="Mountain">
              <div class="article-content">
                <h3 class="article-title1">Test Title 1</h3>
                <p class="article-description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.
                </p>
              </div>
            </a>
          </article>
        </li>
        <li class="features-list">
          <article class="features-article">
            <a href="#" class="article-link">
              <img class="article-image" src="assets/images/bg.jpeg" alt="Mountain">
              <div class="article-content">
                <h3 class="article-title2">Test Title 1</h3>
                <p class="article-description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.
                </p>
              </div>
            </a>
          </article>
        </li>
        <li class="features-list">
          <article class="features-article">
            <a href="#" class="article-link">
              <img class="article-image" src="assets/images/bg.jpeg" alt="Mountain">
              <div class="article-content">
                <h3 class="article-title3">Test Title 1</h3>
                <p class="article-description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.
                </p>
              </div>
            </a>
          </article>
        </li>
      </ul>
>>>>>>> feature/index
    </section>
  </main>
<script src="assets/js/app.js" async></script>
</body>
</html>
